annotated-types==0.7.0
BaselineRemoval==0.1.6
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
clarabel==0.11.1
contourpy==1.3.1
cvxpy==1.6.6
cycler==0.12.1
Cython==3.1.2
Deprecated==1.2.18
ecos==2.0.14
fonttools==4.56.0
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.67.0
httplib2==0.22.0
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
nose2==0.15.1
npTDMS==1.10.0
numpy==2.2.3
oauthlib==3.2.2
osqp==1.0.4
opt_einsum==3.4.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pluggy==1.5.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyparsing==3.2.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-utils==3.9.1
pytz==2025.1
PyWavelets==1.8.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scanimage-tiff-reader==1.4.1.4
scikit-learn==1.6.1
scipy==1.15.2
scs==3.2.7.post2
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0

